<!doctype html>
<html lang="en">
<head>
    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- Favicon -->
	<link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
{% block title -%}
    {% if title %}
        <title>DWA | {{ title }}</title>
    {% else %}
        <title>Dell Weather App</title>
    {% endif %}
{% endblock %}
</head>
<body>

{% block content %}

{% endblock %}
</body>
</html>