{% extends 'base.html' %}

{% block content %}
{{ super() }}
    <h1>Welcome to main page!<br>one more time</h1>
    <div class="data">
        <form action="/weather" method="get">
            <select name="city" id="">
                {% for c in cities -%}
                    <option value="{{ c[1] }}">{{ c[0] }}</option>
                {% endfor -%}
            </select>
            <input type="text" name="days" placeholder="N days before now">
            <button type="submit" class="btn">Send</button>
        </form>
    </div>

{%- endblock %}